name: Benchmark

on:
  workflow_dispatch:
    inputs:
      gocica-version:
        description: gocica-go/gocica's version
        required: true

permissions:
  actions: write

jobs:
  setup_modcache:
    name: Setup modcache
    runs-on: ubuntu-latest
    env:
      GOMODCACHE: /tmp/gocache/mod
      GOCACHE: /tmp/gocache/build
    steps:
      - uses: actions/checkout@v4
        with:
          repository: traPtitech/traQ
          ref: v3.22.0
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
          cache: false # Disable cache for redundant cache clearing
      - uses: actions/cache@v4 # Go mod cache(not covered by Go setup cache)
        with:
          path: ${{ env.GOMODCACHE }}
          key: go-mod-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            go-mod-${{ runner.os }}-${{ github.ref }}-
            go-mod-${{ runner.os }}-
      - run: go mod download
  no_cache_gocica_github:
    name: GoCICa GitHub(No Cache)
    runs-on: ubuntu-latest
    needs: [setup_modcache]
    strategy:
      matrix:
        id: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      max-parallel: 1
    env:
      GOMODCACHE: /tmp/gocache/mod
      GOCACHE: /tmp/gocache/build
    steps:
      - name: Clear cache
        uses: actions/github-script@v7
        with:
          script: |
            console.log("About to clear")
            const caches = await github.rest.actions.getActionsCacheList({
              owner: context.repo.owner,
              repo: context.repo.repo,
              key: "gocica-cache-"
            })
            for (const cache of caches.data.actions_caches) {
              console.log(cache)
              github.rest.actions.deleteActionsCacheById({
                owner: context.repo.owner,
                repo: context.repo.repo,
                cache_id: cache.id,
              })
            }
            console.log("Clear completed")
      - uses: actions/checkout@v4
        with:
          repository: traPtitech/traQ
          ref: v3.22.0
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
          cache: false # Disable cache for redundant cache clearing
      - uses: actions/cache@v4 # Go mod cache(not covered by Go setup cache)
        with:
          path: ${{ env.GOMODCACHE }}
          key: go-mod-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            go-mod-${{ runner.os }}-${{ github.ref }}-
            go-mod-${{ runner.os }}-
      - uses: gocica-go/gocica-action@v0.1.0-alpha7
        with:
          version: ${{ github.event.inputs.gocica-version }}
      - run: go mod download
      - run: time go build -o traQ -ldflags "-s -w -X main.version=Dev -X main.revision=Local"
        env:
          CGO_ENABLED: 0
  cache_gocica_github:
    name: GoCICa GitHub(Cache)
    runs-on: ubuntu-latest
    needs: [no_cache_gocica_github, setup_modcache]
    strategy:
      matrix:
        id: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      max-parallel: 1
    env:
      GOMODCACHE: /tmp/gocache/mod
      GOCACHE: /tmp/gocache/build
    steps:
      - uses: actions/checkout@v4
        with:
          repository: traPtitech/traQ
          ref: v3.22.0
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
          cache: false # Disable cache for redundant cache clearing
      - uses: actions/cache@v4 # Go mod cache(not covered by Go setup cache)
        with:
          path: ${{ env.GOMODCACHE }}
          key: go-mod-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            go-mod-${{ runner.os }}-${{ github.ref }}-
            go-mod-${{ runner.os }}-
      - uses: gocica-go/gocica-action@v0.1.0-alpha7
        with:
          version: ${{ github.event.inputs.gocica-version }}
      - run: go mod download
      - run: time go build -o traQ -ldflags "-s -w -X main.version=Dev -X main.revision=Local"
        env:
          CGO_ENABLED: 0
  no_cache_default:
    name: action/cache(No Cache)
    runs-on: ubuntu-latest
    needs: [setup_modcache]
    strategy:
      matrix:
        id: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      max-parallel: 1
    env:
      GOMODCACHE: /tmp/gocache/mod
      GOCACHE: /tmp/gocache/build
    steps:
      - uses: actions/checkout@v4
        with:
          repository: traPtitech/traQ
          ref: v3.22.0
          fetch-depth: 0
      - name: Clear cache
        uses: actions/github-script@v7
        with:
          script: |
            console.log("About to clear")
            const caches = await github.rest.actions.getActionsCacheList({
              owner: context.repo.owner,
              repo: context.repo.repo,
              key: "go-build-"
            })
            for (const cache of caches.data.actions_caches) {
              console.log(cache)
              github.rest.actions.deleteActionsCacheById({
                owner: context.repo.owner,
                repo: context.repo.repo,
                cache_id: cache.id,
              })
            }
            console.log("Clear completed")
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
          cache: false # Disable cache for redundant cache clearing
      - uses: actions/cache@v4 # Go mod cache(not covered by Go setup cache)
        with:
          path: ${{ env.GOMODCACHE }}
          key: go-mod-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            go-mod-${{ runner.os }}-${{ github.ref }}-
            go-mod-${{ runner.os }}-
      - uses: actions/cache@v4 # Go build cache
        with:
          path: ${{ env.GOCACHE }}
          key: go-build-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            go-build-${{ runner.os }}-${{ github.ref }}-
            go-build-${{ runner.os }}-
      - run: go mod download
      - run: time go build -o traQ -ldflags "-s -w -X main.version=Dev -X main.revision=Local"
        env:
          CGO_ENABLED: 0
  cache_default:
    name: action/cache(Cache)
    runs-on: ubuntu-latest
    needs: [no_cache_default, setup_modcache]
    strategy:
      matrix:
        id: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      max-parallel: 1
    env:
      GOMODCACHE: /tmp/gocache/mod
      GOCACHE: /tmp/gocache/build
    steps:
      - uses: actions/checkout@v4
        with:
          repository: traPtitech/traQ
          ref: v3.22.0
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
          cache: false # Disable cache for redundant cache clearing
      - uses: actions/cache@v4 # Go mod cache(not covered by Go setup cache)
        with:
          path: ${{ env.GOMODCACHE }}
          key: go-mod-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            go-mod-${{ runner.os }}-${{ github.ref }}-
            go-mod-${{ runner.os }}-
      - uses: actions/cache@v4 # Go build cache
        with:
          path: ${{ env.GOCACHE }}
          key: go-build-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            go-build-${{ runner.os }}-${{ github.ref }}-
            go-build-${{ runner.os }}-
      - run: go mod download
      - run: time go build -o traQ -ldflags "-s -w -X main.version=Dev -X main.revision=Local"
        env:
          CGO_ENABLED: 0
