name: Release

on:
  push:
    tags:
      - "v*"

env:
  APP_NAME: gocica

jobs:
  build:
    name: Release
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.0
      - name: Set output
        id: macos_sdk
        run: echo "path=$(xcrun --show-sdk-path)" >> $GITHUB_OUTPUT
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SDK_ROOT: ${{ steps.macos_sdk.outputs.path }}
      - name: Upload assets
        uses: actions/upload-artifact@v4
        with:
          name: assets
          path: ./dist/*
